.form-container {
    width: 100%;
    max-width: 600px;
    max-height: 600px;
    margin: 2rem 2rem;
    padding: 2rem 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Success message styling */
.form-container .success-message {
    background-color: #d4edda;
    color: #155724;
    padding: 1rem;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    margin-bottom: 1rem;
    margin-top: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-size: 1rem;
    text-align: center;
    position: relative;
}

.form-container .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
    background: none;
    border: none;
}

.form-container .close-btn:hover {
    color: #aaa;
}

.form-container label {
    display: block;
    margin: 1rem 0 0.5rem;
    font-weight: bold;
}

.form-container input,
.form-container select,
.form-container textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.form-container button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    align-self: flex-start;
    font-size: 1rem;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #0056b3;
}

.form-container input::placeholder,
.form-container textarea::placeholder {
    font-style: italic;
    color: #aaa;
}

.form-container .form-row {
    display: flex;
    justify-content: space-between;
    gap: 15px; /* Space between fields */
}

.form-container .form-row label {
    margin-bottom: 0.5rem;
}

.form-container .form-row input,
.form-container .form-row select,
.form-container .form-row textarea {
    width: 100%;
    box-sizing: border-box;
}

.form-container textarea {
    width: 100%; /* Ensures it takes up the full width of its container */
    height: 150px; /* Fixed height for the textarea */
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    resize: none; /* Prevent resizing of the textarea */
}

.form-container .form-row .flex-half {
    flex: 1;
}

.form-container .form-row .flex-large {
    flex: 4;
}

.form-container .flex-small {
    flex: 1; /* Amount takes less space */
}

.form-container #reference {
    max-width: 200px;
}