<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<aside th:fragment="sidebar">
    <ul>
        <!-- Expenses Menu -->
        <li>
            <button class="dropdown-btn" onclick="toggleDropdown('expenses-options')">Expenses</button>
            <ul id="expenses-options" class="dropdown-content" style="display: none;">
                <li>
                    <a th:href="@{/registerExpense}" th:classappend="${page == 'registerExpense' ? 'active' : ''}" onclick="handleSelection(event, 'expenses-options')">
                        Register
                    </a>
                </li>
                <li>
                    <a th:href="@{/handleExpense}" th:classappend="${page == 'handleExpense' ? 'active' : ''}" onclick="handleSelection(event, 'expenses-options')">
                        Handle
                    </a>
                </li>
            </ul>
        </li>

        <!-- Apartment Menu -->
        <li>
            <button class="dropdown-btn" onclick="toggleDropdown('apartment-options')">Apartment</button>
            <ul id="apartment-options" class="dropdown-content" style="display: none;">
                <li>
                    <a th:href="@{/registerApartment}" th:classappend="${page == 'registerApartment' ? 'active' : ''}" onclick="handleSelection(event, 'apartment-options')">
                        Register
                    </a>
                </li>
                <li>
                    <a th:href="@{/handleApartment}" th:classappend="${page == 'handleApartment' ? 'active' : ''}" onclick="handleSelection(event, 'apartment-options')">
                        Handle
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>

</body>
</html>



