<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landlord Pro</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Global styles -->
</head>
<body>
<header>
    <h1>Welcome to Landlord Pro</h1>
    <p>Manage your rental relations and expenses here</p>
</header>

<div class="container">
    <div th:insert="~{expenses/sidebar :: sidebar}"></div>
    <div class="content">
        <div th:replace="${content}"></div>
    </div>
</div>
</body>
</html>
