<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Landlord Pro</title>-->
<!--    <link rel="stylesheet" href="/css/styles.css"> &lt;!&ndash; Global styles &ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--    <h1>Welcome to Landlord Pro</h1>-->
<!--    <p>Manage your rental relations and expenses here</p>-->
<!--</header>-->

<!--<div class="container">-->
<!--    <div th:insert="~{expenses/sidebar :: sidebar}"></div>-->
<!--&lt;!&ndash;    <div class="content">&ndash;&gt;-->
<!--&lt;!&ndash;        <div th:replace="${content}"></div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
