<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense List</title>
    <link rel="stylesheet" href="/css/expense-list.css"> <!-- Reference the same CSS file -->
</head>
<body>
<header>
    <h1>Welcome to Landlord Pro</h1>
    <p>Manage your rental relations and expenses here</p>
</header>
<div th:fragment="content">
    <table>
        <thead>
        <tr>
            <th>Year</th>
            <th>Apartment Name</th>
            <th>Expense Name</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="expense : ${expenses}">
            <tr>
                <td th:text="${expense.year}"></td>
                <td th:text="${expense.apartmentName}"></td>
                <td th:text="${expense.name}"></td>
                <td th:text="${expense.amount}"></td>
                <td th:text="${expense.date}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>
