table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem; /* Add space between the filters and table */
}

thead {
    background-color: #f2f2f2;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Filters section styles */
.filters {
    display: flex; /* Align filter elements horizontally */
    gap: 100rem; /* Space between the dropdowns */
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #f2f2f2;
    border-radius: 8px;
}

/* Filter group styling for individual elements */
.filter-group {
    display: flex; /* Align label and select horizontally */
    align-items: center; /* Align the label and select vertically */
}

/* Filter label styling */
.filter-group label {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 0.5rem; /* Add space between label and select */
}

/* Filter select styling */
.filter-group select {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.alert-success {
    color: green;
    background-color: #e6ffe6;
    border: 1px solid green;
    padding: 10px;
    margin-bottom: 10px;
}

.alert-error {
    color: red;
    background-color: #007BFF;
    border: 1px solid red;
    padding: 10px;
    margin-bottom: 10px;
}

.delete-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #0056b3;
}

.update-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.update-btn:hover {
    background-color: #0056b3;
}


