<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Expense Report</title>
    <link rel="stylesheet" th:href="@{/css/reports.css}"> <!-- Your CSS -->
</head>
<body>
<div class="form-container" layout:fragment="content">
<!--    <table>-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Month</th>-->
<!--            <th>Expense</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="month, iterStat : ${months}">-->
<!--            <td th:text="${month}"></td>-->
<!--            <td th:text="${expenses[__${iterStat.index}__]}"></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->

    <!-- Chart Image -->
<!--    <img th:src="${chartImage}" alt="Monthly Expenses Chart"/>-->

    <!-- Buttons to change chart type -->
    <a th:href="@{/chart1(chartType='line')}">Line Chart</a> |
    <a th:href="@{/chart1(chartType='bar')}">Bar Chart</a> |
    <a th:href="@{/chart1(chartType='pie')}">Pie Chart</a>

    <!-- Display Chart Image -->
    <h3 th:text="${chartType} + ' Chart'"></h3>
    <img th:src="${chartImage}" alt="Monthly Expense Chart"/>
</div>
</body>
</html>
