<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <link rel="stylesheet" th:href="@{/contactAdminTable.css}">
</head>
<!-- Define the fragment where the content will go -->
<div class="form-container" layout:fragment="content">
    <main>
        <table>
            <thead>
            <tr>
                <th>Referanse</th>
                <th>Name</th>
                <th>Email</th>
                <th>Message</th>
                <th>Resolved</th>
                <th>Deleted</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contact : ${contacts}">
                <td th:text="${contact.reference}"></td>
                <td th:text="${contact.name}"></td>
                <td th:text="${contact.email}"></td>
                <td th:text="${contact.message}"></td>
                <td th:text="${contact.resolved}"></td>
                <td th:text="${contact.deleted}"></td>
                <td th:text="${#temporals.format(contact.createdDate, 'dd.MM.yyyy')}"></td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
</html>
