<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <link rel="stylesheet" th:href="@{/css/expense-list.css}">
    <script th:src="@{/js/filterTable.js}"></script>
</head>
<div layout:fragment="content">
    <div class="filters">
        <div class="filter-group">
            <form action="/expense/handle" method="get">
                <label for="year">Year:</label>
                <select id="year" name="year" onchange="this.form.submit()">
                    <option value="">Select Year</option>
                    <option
                        th:each="year : ${years}"
                        th:value="${year}"
                        th:text="${year}"
                        th:selected="${year == selectedYear}">
                    </option>
                </select>

                <label for="apartmentName">Apartment Name:</label>
                <select id="apartmentName" name="apartmentId" onchange="this.form.submit()">
                    <option value="">Select Apartment</option>
                    <option th:each="entry : ${apartments}"
                            th:value="${entry.key}"
                            th:text="${entry.value}"
                            th:selected="${entry.value == selectedApartment}">
                    </option>
                </select>
            </form>
        </div>
    </div>

    <table>
        <thead>
        <tr>
            <th>Year</th>
            <th>Apartment name</th>
            <th>Expense category</th>
            <th>Expense name</th>
            <th>Amount</th>
            <th>Expense location</th>
            <th>Date</th>
            <th>Receipt</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="expense : ${expenses}">
            <tr>
                <td th:text="${expense.date.year}"></td>
                <td th:text="${apartments[expense.apartmentId]}"></td>
                <td th:text="${expense.category}"></td>
                <td ondblclick="enableEditing(this)" th:text="${expense.name}"></td>
                <td ondblclick="enableEditing(this)" th:text="${expense.amount}"></td>
                <td th:text="${expense.expenseLocation}"></td>
                <td th:text="${expense.date}"></td>
                <td th:text="${expense.receiptData}"></td>
                <td>
                    <!-- Delete Form -->
                    <form th:action="@{/delete}" method="post" style="display:inline;">
                        <input type="hidden" name="id" th:value="${expense.id}">
                        <input type="hidden" name="year" th:value="${expense.createdDate.year}">
                        <input type="hidden" name="apartmentId" th:value="${expense.apartmentId}">
                        <button type="submit" class="delete-btn">Delete</button>
                    </form>

                    <!-- Update Form -->
                    <form th:action="@{/update}" method="post" style="display:inline;">
                        <input type="hidden" name="id" th:value="${expense.id}">
                        <input type="hidden" name="year" th:value="${expense.date.year}">
                        <input type="hidden" name="apartmentId" th:value="${expense.apartmentId}">
                        <input type="hidden" name="name" th:value="${expense.name}">
                        <input type="hidden" name="amount" th:value="${expense.amount}">
                        <button type="submit" class="update-btn">Update</button>
                    </form>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</html>
