<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <link rel="stylesheet" th:href="@{/css/handleTenant.css}">
    <script th:src="@{/js/tenantFilterTable.js}"></script>
    <script>
      function closeMessage(button) {
        var messageBox = button.parentElement;
        messageBox.style.display = 'none';
      }
    </script>
</head>
<!-- Define the fragment where the content will go -->
<div class="form-container" layout:fragment="content">
    <!-- Display success message -->
    <div th:if="${successMessage}" class="success-message">
        <span class="close-btn" onclick="closeMessage(this)">&times;</span>
        <p th:text="${successMessage}"></p>
    </div>

    <!-- Display error message -->
    <div th:if="${errorMessage}" class="error-message">
        <span class="close-btn" onclick="closeMessage(this)">&times;</span>
        <p th:text="${errorMessage}"></p>
    </div>
    <form action="/tenant/handle" method="get">
        <div class="filters">
            <div class="filter-group">
                <label for="year">Year:</label>
                <select id="year" name="year" onchange="this.form.submit()">
                    <option value="">Select Year</option>
                    <option
                        th:each="year : ${years}"
                        th:value="${year}"
                        th:text="${year}"
                        th:selected="${year == selectedYear}">
                    </option>
                </select>
                <label for="apartmentName">Apartment Name:</label>
                <select id="apartmentName" name="apartmentId" onchange="this.form.submit()">
                    <option value="">Select Apartment</option>
                    <option th:each="entry : ${apartments}"
                            th:value="${entry.key}"
                            th:text="${entry.value}"
                            th:selected="${entry.value == selectedApartment}">
                    </option>
                </select>
                <label class="note-label">Note: Columns marked with * can be updated.</label>
            </div>
        </div>
    </form>
    <table>
        <thead>
        <tr>
            <th>Tenant</th>
            <th>Contact</th>
            <th th:text="'LeaseStartDate' + '*'"></th>
            <th th:text="'LeaseEndDate' + '*'"></th>
            <th th:text="'Rent(Kr)' + '*'"></th>
            <th th:text="'Deposit(Kr)' + '*'"></th>
            <th th:text="'SecurityInst.' + '*'"></th>
            <th>Gdpr</th>
            <th>Contract</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tenant : ${tenants}">
            <td>
                <span th:text="${tenant.fullName}"></span><br>
                <span th:text="${#temporals.format(tenant.dateOfBirth, 'dd.MM.yyyy')}"></span>
            </td>
            <td>
                <span th:text="${tenant.getMobileNumber}"></span><br>
                <span th:text="${tenant.email}"></span>
            </td>
            <td>
                <input type="date"
                       name="visibleLeaseStartDate"
                       th:value="${#temporals.format(tenant.leaseStartDate, 'yyyy-MM-dd')}"
                       min="1900-01-01" max="2100-12-31"
                       pattern="\d{4}-\d{2}-\d{2}"
                       title="LeaseStartDate must be in the format YYYY-MM-DD"
                       required>
            </td>
            <td>
                <input type="date"
                       name="visibleLeaseEndDate"
                       th:value="${#temporals.format(tenant.leaseEndDate, 'yyyy-MM-dd')}"
                       min="1900-01-01" max="2100-12-31"
                       pattern="\d{4}-\d{2}-\d{2}"
                       title="LeaseEndDate must be in the format YYYY-MM-DD"
                       required>
            </td>
            <td ondblclick="enableEditing(this)"
                th:text="${tenant.monthlyRent != null ? #numbers.formatDecimal(tenant.monthlyRent, 1, 2, 'POINT') : '0.00'}">
            </td>
            <td ondblclick="enableEditing(this)"
                th:text="${tenant.securityDeposit != null ? #numbers.formatDecimal(tenant.securityDeposit, 1, 2, 'POINT') : '0.00'}">
            </td>
            <td ondblclick="enableEditing(this)" th:text="${tenant.securityDepositInstitutionName}"></td>
            <td>
                <a th:if="${tenant.privatePolicy != null}"
                   th:href="@{/download/tenant/{id}/privacy-policy(id=${tenant.id})}"
                   target="_blank">
                    Download
                </a>
            </td>
            <td>
                <a th:if="${tenant.receiptData != null}"
                   th:href="@{/download/tenant/{id}/contract(id=${tenant.id})}"
                   target="_blank">
                    Download
                </a>
            </td>
            <td>
                <!-- Delete Form -->
                <form th:action="@{/tenant/delete}" method="post" style="display:inline;">
                    <input type="hidden" name="id" th:value="${tenant.id}">
                    <input type="hidden" name="userId" th:value="${tenant.userId}">
                    <input type="hidden" name="apartmentId" th:value="${tenant.apartmentId}">
                    <input type="hidden" name="year" th:value="${tenant.getLeaseStartDate().year}">
                    <button type="submit" class="delete-btn">Delete</button>
                </form>

                <!-- Update Form -->
                <form th:action="@{/tenant/update}" method="post" onsubmit="syncDateBeforeSubmit(this)" style="display:inline;">
                    <input type="hidden" name="id" th:value="${tenant.id}">
                    <input type="hidden" name="apartmentId" th:value="${tenant.apartmentId}">
                    <input type="hidden" name="userId" th:value="${tenant.userId}">
                    <input type="hidden" name="fullName" th:value="${tenant.fullName}">
                    <input type="hidden" name="dateOfBirth" th:value="${tenant.dateOfBirth}">
                    <input type="hidden" name="mobileNumber" th:value="${tenant.getMobileNumber}">
                    <input type="hidden" name="email" th:value="${tenant.email}">
                    <input type="hidden" name="leaseStartDate" th:value="${tenant.leaseStartDate}">
                    <input type="hidden" name="leaseEndDate" th:value="${tenant.leaseEndDate}">
                    <input type="hidden" name="monthlyRent" th:value="${tenant.monthlyRent}">
                    <input type="hidden" name="securityDeposit" th:value="${tenant.securityDeposit}">
                    <input type="hidden" name="securityDepositInstitutionName" th:value="${tenant.securityDepositInstitutionName}">
                    <input type="hidden" name="receiptData" th:value="${tenant.receiptData}">
                    <input type="hidden" name="privatePolicy" th:value="${tenant.privatePolicy}">
                    <input type="hidden" name="createdDate" th:value="${tenant.createdDate}">
                    <input type="hidden" name="updatedDate" th:value="${tenant.updatedDate}">
                    <button type="submit" class="update-btn">Update</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>
