<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<!-- Define the fragment where the content will go -->
<div layout:fragment="content">
    <main>
        <h2>Handle Apartments</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="apartment : ${apartments}">
                <td th:text="${apartment.id}"></td>
                <td th:text="${apartment.name}"></td>
                <td th:text="${apartment.location}"></td>
                <td>
                    <a th:href="@{/editApartment/{id}(id=${apartment.id})}">Edit</a>
                    <a th:href="@{/deleteApartment/{id}(id=${apartment.id})}" onclick="return confirm('Are you sure?');">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
</html>
