
<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<!-- Define the fragment where the content will go -->
<div layout:fragment="content">
    <main>
        <h2>Handle Expenses</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="expense : ${expenses}">
                <td th:text="${expense.id}"></td>
                <td th:text="${expense.name}"></td>
                <td th:text="${expense.amount}"></td>
                <td>
                    <a th:href="@{/editExpense/{id}(id=${expense.id})}">Edit</a>
                    <a th:href="@{/deleteExpense/{id}(id=${expense.id})}" onclick="return confirm('Are you sure?');">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
</html>
