<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <link rel="stylesheet" th:href="@{/css/handleExpense.css}">
    <script th:src="@{/js/expenseFilterTable.js}"></script>
    <script>
      function closeMessage(button) {
        var messageBox = button.parentElement;
        messageBox.style.display = 'none';
      }

      function showUploadPopup(element) {
        const expenseId = element.getAttribute("data-id");
        document.getElementById('expenseId').value = expenseId
        document.getElementById('uploadPopup').style.display = 'block';
      }

      function closeUploadPopup() {
        document.getElementById('uploadPopup').style.display = 'none';
      }
    </script>
</head>
<!-- Define the fragment where the content will go -->
<div class="form-container" layout:fragment="content">
    <!-- Modal for Uploading File -->
    <div id="uploadPopup" style="display: none;">
        <div class="upload-popup-content">
            <span class="close-btn" onclick="closeUploadPopup()">&times;</span>
            <h3>Upload Receipt</h3>
            <form th:action="@{/document/uploadTempReceipt}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="expenseId" id="expenseId">
                <input type="file" name="receiptFile" accept="application/pdf,image/*" required>
                <button type="submit">Upload</button>
            </form>
        </div>
    </div>

    <!-- Display success message -->
    <div th:if="${successMessage}" class="success-message">
        <span class="close-btn" onclick="closeMessage(this)">&times;</span>
        <p th:text="${successMessage}"></p>
    </div>

    <!-- Display error message -->
    <div th:if="${errorMessage}" class="error-message">
        <span class="close-btn" onclick="closeMessage(this)">&times;</span>
        <p th:text="${errorMessage}"></p>
    </div>
    <form action="/expense/handle" method="get">
        <div class="filters">
            <div class="filter-group">
                <label for="year">Year:</label>
                <select id="year" name="year" onchange="this.form.submit()">
                    <option value="">Select Year</option>
                    <option
                        th:each="year : ${years}"
                        th:value="${year}"
                        th:text="${year}"
                        th:selected="${year == selectedYear}">
                    </option>
                </select>
                <label for="apartmentName">Apartment Name:</label>
                <select id="apartmentName" name="apartmentId" onchange="this.form.submit()">
                    <option value="">Select Apartment</option>
                    <option th:each="entry : ${apartments}"
                            th:value="${entry.key}"
                            th:text="${entry.value}"
                            th:selected="${entry.value == selectedApartment}">
                    </option>
                </select>
                <label class="note-label">Note: Columns marked with * can be updated.</label>
            </div>
        </div>
    </form>
    <table>
        <thead>
        <tr>
            <th th:text="'Category' + '*'"></th>
            <th th:text="'ExpenseName' + '*'"></th>
            <th th:text="'Amount(Kr.)' + '*'"></th>
            <th th:text="'ExpenseLocation' + '*'"></th>
            <th th:text="'Date' + '*'"></th>
            <th>Receipt</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="expense : ${expenses}">
            <td>
                <select onchange="updateCategory(this)" th:name="category">
                    <option th:each="cat : ${categories}"
                            th:selected="${expense.category} == ${cat.name()}"
                            th:text="${cat.getDescription()}"
                            th:value="${cat.name()}">
                    </option>
                </select>
            </td>
            <td ondblclick="enableEditing(this)" th:text="${expense.name}"></td>
            <td ondblclick="enableEditing(this)"
                th:text="${expense.amount != null ? #numbers.formatDecimal(expense.amount, 1, 2, 'POINT') : '0.00'}"></td>
            <td ondblclick="enableEditing(this)" th:text="${expense.expenseLocation}"></td>
            <td>
                <input type="date"
                       name="date"
                       th:value="${#temporals.format(expense.date, 'yyyy-MM-dd')}"
                       min="1900-01-01" max="2100-12-31"
                       pattern="\d{4}-\d{2}-\d{2}"
                       title="Date must be in the format YYYY-MM-DD"
                       required>
            </td>
            <td>
                <a th:if="${expense.receiptData != null}"
                   th:href="@{/download/expense/{id}/receipt(id=${expense.id})}"
                   target="_blank">
                    Download
                </a>
                <a href="javascript:void(0);" th:data-id="${expense.id}" onclick="showUploadPopup(this)">Upload</a>
            </td>

            <td>
                <!-- Delete Form -->
                <form th:action="@{/expense/delete}" method="post" style="display:inline;">
                    <input type="hidden" name="id" th:value="${expense.id}">
                    <input type="hidden" name="userId" th:value="${expense.userId}">
                    <input type="hidden" name="apartmentId" th:value="${expense.apartmentId}">
                    <input type="hidden" name="year" th:value="${expense.getDate().year}">
                    <button type="submit" class="delete-btn">Delete</button>
                </form>

                <!-- Update Form -->
                <form th:action="@{/expense/update}" method="post" onsubmit="syncDateBeforeSubmit(this)" style="display:inline;">
                    <input type="hidden" name="id" th:value="${expense.id}">
                    <input type="hidden" name="apartmentId" th:value="${expense.apartmentId}">
                    <input type="hidden" name="userId" th:value="${expense.userId}">
                    <input type="hidden" name="category" th:value="${expense.category}">
                    <input type="hidden" name="name" th:value="${expense.name}">
                    <input type="hidden" name="amount" th:value="${expense.amount}">
                    <input type="hidden" name="date" th:value="${expense.date}">
                    <input type="hidden" name="expenseLocation" th:value="${expense.expenseLocation}">
                    <input type="hidden" name="receiptData" th:value="${expense.receiptData}">
                    <input type="hidden" name="createdDate" th:value="${expense.createdDate}">
                    <input type="hidden" name="updatedDate" th:value="${expense.updatedDate}">
                    <button type="submit" class="update-btn">Update</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>
