<!DOCTYPE html>
<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}">
<!-- Define the fragment where the content will go -->
<div layout:fragment="content">
    <main>
        <h3>Welcome to Landlord Pro, <span th:text="${name}">[name]</span>! as <span th:text="${userRole}">[User Role]</span></h3>
        <p>Manage your rental relations and expenses here</p>

        At Landlord Pro, we simplify the management of your rental properties, allowing you to focus on growing your investments. Whether you're
        tracking monthly income, recording expenses, or preparing yearly summaries for tax purposes, our platform is designed to keep everything
        organized in one place.
        <h3>Why Landlord Pro?</h3>
        <p>
            Effortless Tracking: Stay on top of your rental income and expenses with intuitive tools.
            Comprehensive Insights: Generate yearly summaries to understand your financial performance.
            History at a Glance: Access detailed records from previous years to stay informed and prepared.
        </p>
        <h3>Key Features:</h3>
        <p>
            Income and Expense Management: Record and categorize all your transactions in seconds.
            Yearly Summaries: View detailed reports for tax preparation and strategic planning.
            Secure and Accessible: Your data is safe, and you can access it anytime, anywhere.
        </p>
        <i>
            <b>
                Start managing your rental properties like a pro. [Get Started Now]
            </b>
        </i>
    </main>
</div>
</html>
