<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>My Application</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="stylesheet" th:href="@{/sidebar.css}">
    <script th:src="@{/scripts.js}"></script>
</head>
<body>
<div class="container">

    <div th:replace="fragments/header :: header"></div>

    <div class="content">
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div layout:fragment="content">
            <!-- The content of individual pages will go here -->
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>


<!--    &lt;!&ndash; Header &ndash;&gt;-->
<!--    <div th:replace="fragments/header :: header"></div>-->

<!--    &lt;!&ndash; Sidebar &ndash;&gt;-->
<!--    <div th:replace="fragments/sidebar :: sidebar"></div>-->

<!--    &lt;!&ndash; Page Content (this will be replaced by the content of each page) &ndash;&gt;-->
<!--&lt;!&ndash;    <div layout:fragment="content">&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash; Content goes here &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="content">&ndash;&gt;-->
<!--        &lt;!&ndash; This fragment will be replaced by page-specific content &ndash;&gt;-->
<!--        <div layout:fragment="content">-->
<!--            &lt;!&ndash; The content of individual pages will go here &ndash;&gt;-->
<!--        </div>-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--    &lt;!&ndash; Footer &ndash;&gt;-->
<!--    <div th:replace="fragments/footer :: footer"></div>-->
</div>
</body>
</html>
