<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>My Application</title>
    <link rel="stylesheet" th:href="@{/layout.css}">
    <link rel="stylesheet" th:href="@{/header_footer.css}">
    <link rel="stylesheet" th:href="@{/sidebar.css}">
    <script th:src="@{/scripts.js}"></script>
</head>
<body>
<div class="container">

    <div th:replace="~{fragments/header :: header}"></div>

    <div class="content">
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>
        <div layout:fragment="content">
            <!-- The content of individual pages will go here -->
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
    <!-- Inject the 'page' attribute into JavaScript -->
    <script th:inline="javascript">
      var currentPage = /*[[${page}]]*/ '';  // Inject the page value here
    </script>
</div>
</body>
</html>
