<!DOCTYPE html>
<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}">
<!--<head>-->
<!--    <title>Login</title>-->
<!--    <link rel="stylesheet" href="/css/styles.css">-->
<!--</head>-->
<div layout:fragment="content">
    <main>
        <form th:action="@{/login}" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
        <p th:if="${param.error}">Invalid username or password</p>
        <p th:if="${param.logout}">You have been logged out</p>
    </main>
</div>
</html>
