<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <link rel="stylesheet" th:href="@{/apartment-form.css}">
    <script>
      function closeMessage(button) {
        var messageBox = button.parentElement;
        messageBox.style.display = 'none';
      }
    </script>
</head>
<div class="form-container" layout:fragment="content">
    <!-- Display success message -->
    <div th:if="${successMessage}" class="success-message">
        <span class="close-btn" onclick="closeMessage(this)">&times;</span>
        <p th:text="${successMessage}"></p>
    </div>

    <!-- Display error message -->
    <div th:if="${errorMessage}" class="error-message">
        <span class="close-btn" onclick="closeMessage(this)">&times;</span>
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="@{/apartment/save}" method="post">
        <div class="form-row">
            <div class="flex-half">
                <label for="apartmentShortName">Apartment Name (Short):</label>
                <input type="text" id="apartmentShortName" name="apartmentShortName" required
                       pattern="^[a-zA-Z0-9]+$"
                       title="Apartment short name must contain only letters and numbers without spaces or special characters">
            </div>
            <div class="flex-half">
                <label for="ownerName">Owner:</label>
                <input type="text" id="ownerName" name="ownerName" required>
            </div>
        </div>

        <div class="form-row">
            <div class="full-width">
                <label for="addressLine1">Address Line 1:</label>
                <input type="text" id="addressLine1" name="addressLine1" required>
            </div>
        </div>

        <div class="form-row">
            <div class="flex-large">
                <label for="addressLine2">Address Line 2:</label>
                <input type="text" id="addressLine2" name="addressLine2">
            </div>
            <div class="flex-small">
                <label for="pincode">Pin Code:</label>
                <input type="text" id="pincode" name="pincode" required pattern="[0-9]{4,10}" maxlength="5">
            </div>
        </div>

        <div class="form-row">
            <div class="flex-large">
                <label for="city">City:</label>
                <input type="text" id="city" name="city" required>
            </div>
            <div class="flex-small">
                <label for="country">Country:</label>
                <input type="text" id="country" name="country" value="Norway" required readonly>
            </div>
        </div>

        <button type="submit">Register</button>
    </form>
</div>
</html>
