<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <link rel="stylesheet" th:href="@{/expense-form.css}">
    <script>
      function closeMessage(button) {
        var messageBox = button.parentElement;
        messageBox.style.display = 'none';
      }
    </script>
</head>
<body>
<div class="form-container" layout:fragment="content">
    <div th:if="${successMessage}" class="success-message">
        <span class="close-btn" onclick="closeMessage(this)">&times;</span>
        <p th:text="${successMessage}"></p>
    </div>

    <div th:if="${errorMessage}" class="error-message">
        <span class="close-btn" onclick="closeMessage(this)">&times;</span>
        <p th:text="${errorMessage}"></p>
    </div>
    <form th:action="@{/expense/add}" th:object="${expense}" method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="flex-40">
                <label for="apartmentName">Apartment Name:</label>
                <select id="apartmentName" name="apartmentId" required>
                    <option value="" disabled selected>Select Apartment</option>
                    <option th:each="apartment : ${apartmentIdNameMap}"
                            th:value="${apartment.key}"
                            th:text="${apartment.value}"
                            th:selected="${apartment.value == selectedApartment}">
                    </option>
                </select>
            </div>
            <div class="flex-60">
                <label for="category">Expense Category:</label>
                <select id="category" name="category" required>
                    <option value="" disabled selected>Select Category</option>
                    <option th:each="category : ${categories}"
                            th:value="${category.name()}"
                            th:text="${category.description}"
                            th:selected="${category.name() == selectedCategory}">
                    </option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="flex-70">
                <label for="name">Expense Name:</label>
                <input type="text" id="name" name="name" th:field="*{name}" required
                       maxlength="100" minlength="2"
                       title="Expense name must contain only letters and spaces">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="field-error"></span>

            </div>
            <div class="flex-30">
                <label for="amount">Amount (Kr.):</label>
                <input type="number" id="amount" name="amount" th:field="*{amount}" step="0.01" min="0.01" required
                       title="Amount must be greater than zero, and up to 6 digits before the decimal with 2 decimal places.">
                <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="field-error"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="flex-70">
                <label for="expenseLocation">Expense Location:</label>
                <input type="text" id="expenseLocation" name="expenseLocation" th:field="*{expenseLocation}" required
                       maxlength="100" minlength="2"
                       title="Expense location must contain only letters and spaces">
                <span th:if="${#fields.hasErrors('expenseLocation')}" th:errors="*{expenseLocation}" class="field-error"></span>
            </div>
            <div class="flex-30">
                <label for="date">Expense date:</label>
                <input type="date" id="date" name="date" th:field="*{date}" required
                       pattern="\d{4}-\d{2}-\d{2}"
                       min="1900-01-01" max="2100-12-31"
                       title="Date must be in the format YYYY-MM-DD and cannot be in the future">
                <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="field-error"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="flex-large">
                <label for="receiptData">Upload Receipt (Optional):</label>
                <input type="file" id="receiptData" name="receiptData" th:field="*{receiptData}" accept="image/*,.pdf">
                <span th:if="${#fields.hasErrors('receiptData')}" th:errors="*{receiptData}" class="field-error"></span>
            </div>
        </div>

        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>
