<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <link rel="stylesheet" th:href="@{/register.css}">
    <script>
      function closeMessage(button) {
        var messageBox = button.parentElement;
        messageBox.style.display = 'none';
      }
    </script>
</head>
<div class="form-container" layout:fragment="content">
    <!-- Display success message -->
    <div th:if="${successMessage}" class="success-message">
        <span class="close-btn" onclick="closeMessage(this)">&times;</span>
        <p th:text="${successMessage}"></p>
    </div>

    <!-- Display error message -->
    <div th:if="${errorMessage}" class="error-message">
        <span class="close-btn" onclick="closeMessage(this)">&times;</span>
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="@{/register}" method="post" th:object="${user}">
        <div class="form-row">
            <div class="flex-half">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" th:field="*{name}" required
                       pattern="^[a-zA-Z]+$"
                       title="Name must contain only letters">
            </div>
            <div class="flex-half">
                <label for="username">Username(email):</label>
                <input type="text" id="username" name="username" th:field="*{username}" required>
            </div>
        </div>

        <div class="form-row">
            <div class="flex-half">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" th:field="*{password}" required>
            </div>
            <div class="flex-half">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" th:field="*{confirmPassword}" required>
            </div>
        </div>

        <div class="form-row">
            <div class="full-width">
                <label for="mobileNumber">Mobile Number:</label>
                <input type="text" id="mobileNumber" name="mobileNumber" th:field="*{mobileNumber}" required>
            </div>
        </div>


        <button type="submit">Register</button>

    </form>
</div>

</html>
