<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
    <!-- Define the fragment where the content will go -->
    <div layout:fragment="content">
        <h2>Register Expense</h2>
        <form th:action="@{/registerExpense}" method="post">
            <label for="name">Expense Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="amount">Amount:</label>
            <input type="number" id="amount" name="amount" required>

            <button type="submit">Submit</button>
        </form>
    </div>
</html>
