<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<!-- Define the fragment where the content will go -->
<div layout:fragment="content">
    <h2>Register Expense</h2>
    <form th:action="@{/registerApartment}" method="post">
        <label for="name">Apartment Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required>

        <button type="submit">Submit</button>
    </form>
</div>
</html>
