<!DOCTYPE html>
<html layout:decorate="~{layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/userAdminTable.css}">
    <script th:src="@{/js/userAdmin.js}"></script>
    <script>
      function closeMessage(button) {
        var messageBox = button.parentElement;
        messageBox.style.display = 'none';
      }
    </script>
</head>
<!-- Define the fragment where the content will go -->
<div class="form-container" layout:fragment="content">
    <div th:if="${successMessage}" class="success-message">
        <span class="close-btn" onclick="closeMessage(this)">&times;</span>
        <p th:text="${successMessage}"></p>
    </div>

    <div th:if="${errorMessage}" class="error-message">
        <span class="close-btn" onclick="closeMessage(this)">&times;</span>
        <p th:text="${errorMessage}"></p>
    </div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Mobile</th>
            <th>Role</th>
            <th>Enabled</th>
            <th>Deleted</th>
            <th>Date</th>
            <th>Actions</th> <!-- Added Actions column -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.username}"></td>
            <td ondblclick="enableEditing(this)" th:text="${user.mobileNumber}"></td>
            <td>
                <select onchange="updateUserRole(this)" th:name="userRole">
                    <option th:each="role : ${allRoles}"
                            th:selected="${user.userRole} == ${role.name()}"
                            th:text="${role.getDescription()}"
                            th:value="${role.name()}">
                    </option>
                </select>
            </td>

            <td>
                <select onchange="updateEnabledInput(this)" th:name="enabled">
                    <option th:selected="${user.enabled} == true" value="true">True</option>
                    <option th:selected="${user.enabled} == false" value="false">False</option>
                </select>
            </td>
            <td>
                <select onchange="updateDeletedInput(this)" th:name="deleted">
                    <option th:selected="${user.deleted} == true" value="true">True</option>
                    <option th:selected="${user.deleted} == false" value="false">False</option>
                </select>
            </td>
            <td th:text="${#temporals.format(user.createdDate, 'dd.MM.yyyy')}"></td>
            <td>
                <form method="post" th:action="@{/admin/update/user}">
                    <input th:name="id" th:value="${user.id}" type="hidden"/>
                    <input th:name="name" th:value="${user.name}" type="hidden"/>
                    <input th:name="username" th:value="${user.username}" type="hidden"/>
                    <input th:name="userRole" th:value="${user.userRole}" type="hidden"/>
                    <input th:name="mobileNumber" th:value="${user.mobileNumber}" type="hidden"/>
                    <input th:name="enabled" th:value="${user.enabled}" type="hidden"/>
                    <input th:name="deleted" th:value="${user.deleted}" type="hidden"/>
                    <input th:name="createdDate" th:value="${user.createdDate}" type="hidden"/>
                    <input th:name="updatedDate" th:value="${user.updatedDate}" type="hidden"/>
                    <button class="edit-btn" type="submit">Update</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>
